# To install requirements, run: python3 -m pip install -r requirements.txt
# Specify version-specific dependencies here, as needs be. For details, see: https://pip.pypa.io/en/stable/user_guide/
asyncio==3.4.3
bitmex==0.2.2
boto3==1.11.5
bravado==10.4.3
bravado-core==5.16.0
configparser==4.0.2
iso8601==0.1.12
pandas==0.25.3
psutil==5.7.0
PyMySQL==0.9.3
traceback2==1.4.0
websockets==8.1
